body {
 background-color: #008080;
  background: white;
 color: gray;
 margin-top: 30px;
 margin-right: 500px;
 margin-bottom: 30px;
 margin-left: 500px;}




/* Stili per i titoli h1 */
h1 {
 color: red;
 font: 36px Helvetica, Arial, sans-serif;
}

h2{color: white;}


/* Colore del testo delle liste */
li {color: green;}
