body {
 background: #b2f7f0;
 color: black;
 margin-top: 100px;
 margin-right: 200px;
 margin-bottom: 100px;
 margin-left: 200px;}

 #container{
   background:white;
 }
 #title{
   text-align: center;
  }
#foto{
   margin-left: 300px;
}
h1 {
 color: red;
 font: 36px Helvetica, Arial black, sans-serif;
}

h2{color: black;}
